.d-none{
    display: none;
}

/* Google Chrome y Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.014) inset !important;
  -webkit-text-fill-color: #ffffff !important; 
  transition: background-color 5000000s ease-in-out 0s;
}

/* Mozilla Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
  background-color: rgba(0, 0, 0, 0.014) !important; 
  color: #ffffff;
}

/* Microsoft Edge */
input:-ms-autofill {
  background-color: rgba(0, 0, 0, 0.014) !important; 
  color: #ffffff;
}

